html{
	background-color: #ECECEC;
}
body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
main{
    width: 80%;
    margin: 0px auto;
}
.pole{
	float: left;
	width: 20%;
	background-color: white;
	border-radius: 0.5vw;
	box-shadow: 0vw 0.2vw 0.3vw grey;
	overflow: hidden;
}
.zm{
	overflow: hidden;
}
.zmina{
	float: right;
	width: 4vw;
	color: #BEBEBE;
	font-size: 0.8vw;
	border-radius: 0.2vw;
	border: solid 1px #BEBEBE;
	text-align: center;
	text-decoration: none;
	line-height: 1.5vw;
	margin: 1vw 0.8vw 0vw 0vw;
}
.cluch{
    font-size: 0.8vw;
    margin-top: 1vw;
    margin-left: 8%;
}
.znachenie{
    color: #BEBEBE;
    font-size: 0.8vw;
    margin-top: 0.5vw;
    margin-left: 8%;
    text-decoration: none;
    font-style: normal;
}
.znachenie a{
	color: #BEBEBE;
	text-decoration: none;
}
.go{
	margin-top: 15vw;
	display: inline-block;
	width: 90%;
	line-height: 2.5vw;
    border-radius: 0.5vw;
    background-color: #04BE00;
    text-decoration: none;
    color: white;
    font-size: 1vw;
    text-align: center;
    margin-left: 5%;
    box-shadow: 0vw 0.2vw 0.5vw grey;
}
.end{
	display: inline-block;
	width: 90%;
	line-height: 2.5vw;
    border-radius: 0.5vw;
    background-color: #DF0D00;
    margin-top: 1vw;
    text-decoration: none;
    color: white;
    font-size: 1vw;
    text-align: center;
    margin-left: 5%;
    box-shadow: 0vw 0.2vw 0.5vw grey;
    margin-bottom: 1vw;
}
.osn{
    overflow: hidden;
}
.bal{
	background-color: white;
	border-radius: 0.5vw;
	float: left;
	height: 6.7vw;
	width: 96%;
	margin-left: 3%;
	box-shadow: 0vw 0.2vw 0.5vw grey;
	margin-bottom: 0.3vw;
}
.hist{
	border-radius: 0.5vw;
	float: left;
	height: 36vw;
	width: 96%;
	margin-left: 3%;
	box-shadow: 0vw 0.2vw 0.3vw grey;
	margin-bottom: 0.3vw;
	margin-top: 1vw;
	background-color: #F3F3F3;
}
.balans{
	font-size: 0.8vw;
	margin-left: 3%;
	margin-top: 0.8vw;
}
.stoodin{
	margin-left: 3%;
}
.stoodin span{
	font-size: 1.6vw;
	font-weight: 800;
}
.balll{
	color: grey;
	display: inline-block;
	margin-left: 1%;
}
.histzam{
	background: white;
	border-radius: 0.5vw 0.5vw 0vw 0vw;
	padding: 1vw 0 0 3%;
	font-weight: 800;
	font-size: 1vw;
}
.bgggg{
	background-color: white;
	width: 100%;
	overflow: hidden;
}
.colums{
	float: left;
	width: 14.2%;
	margin: 0.8vw auto 0vw auto;
	font-size: 0.8vw;
	text-align: center;
	padding-bottom: 0.8vw;
}
.margg{
	margin-top: 1.2vw;
}
.bue{
	background-color: #F3F3F3;
;
	overflow: hidden;
	width: 100%;
}
.predbuyaka{
	margin-top: 1vw;
	margin-left: 1.5vw;
	margin-bottom: 0.8vw;
}
.buyaka{
	display: inline-block;
	line-height: 2.3vw;
	background-color: #EAEAEA;
	color: #757575;
	font-size: 0.8vw;
	border-radius: 1vw;
	text-decoration: none;
	box-shadow: 0vw 0.2vw 0.3vw grey;
	text-align: center;
	padding: 0 0.5vw 0 0.5vw;
}
.add{
	width: 98%;
	background-color: white;
	border-radius: 1vw;
	overflow: hidden;
	margin: 0 auto;
}
.margg1{
	margin-top: 1.8vw;
}
.margg2{
	margin-top: 1.2vw;
}
.radius{
	width: 0.8vw;
	height: 0.8vw;
	background-color: #F58020;
	border-radius: 0.5vw;
	outline: hidden;
	float: left;
	margin-left: 25%;
}
.doroga{
	color: #F58020;
	font-weight: 800;
	font-size: 0.8vw;
	float: left;
	margin-left: 0.2vw;
}
.margg3{
	margin-top: 0.8vw;
}
.radius2{
	width: 0.8vw;
	height: 0.8vw;
	background-color: #69A042;
	border-radius: 0.5vw;
	outline: hidden;
	float: left;
	margin-left: 25%;
}
.doroga2{
	color: #69A042;
	font-weight: 800;
	font-size: 0.8vw;
	float: left;
	margin-left: 0.2vw;
}
footer{
	background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
}
.foot{
	overflow: hidden;
	min-height: 6vw;
	width: 80%;
	margin: 2vw auto 0 auto;
}
.info{
	float: left;
	width: 50%;
	margin-top: 2vw;
}
.allinfo{
	text-decoration: none;
	color: white;
	font-size: 1vw;
}
.margg4{
	margin-left: 3%;
}
.social{
	float: right;
	margin-top: 1.5vw;
}
.allsocial{
	height: 2.5vw;
	width: 2.5vw;
	float: right;
	border-radius: 1.3vw;
	text-align: center;
}
.instagram{
	background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
}
.facebook{
	background-color: #4E6297;
	margin-right: 1vw;
}
.telegram{
	background-color: #2F89CE;
	margin-right: 1vw;
}
.svgg{
	margin-top: 0.7vw;
	width: 1.1vw;
	height: 1.1vw;
	display: inline-block;
}